/* font */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500&family=Poppins&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Geologica', sans-serif;
    font-family: 'Poppins', sans-serif; 
}
/*--------- navbar -------------*/
.navbar{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    
}
.navbar a{
    text-decoration: none;
    padding: 0px 20px;
    font-size: 16px;
    color: #FFFFFF;
    
    
}
.navbar .btn{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 25px;

}
.icon{
    display: none;
}
.fa-solid{
    color: white;
}

.container{
    background-color: #2D25A0;
    /* height: 700px; */
    margin-bottom: 40px;
    
}
.container-content{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
}
.banner-width{
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
    width: 75%;
}
.half-width{
    width: 50%;
}
.left-info h1{
    color:#FFFFFF;
    font-size: 54px;
}
/* .container:hover .left-info{
    transform: scale();
} */

.left-info{
    /* margin-left: 50px; */
    margin-right: 50px;
    
}

 .btn {
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 25px;
}
/* .banner-img{
    margin-left: 50px;
    margin-right: 50px;
} */
.banner-img img{
    width: 100%;
    
}

/* ---------
players info
-------------*/
.player-gallery{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    
}
.player{
    
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom:10px ;
    height: 500px;
    overflow: hidden;
    
}
.player img{
    width: 100%;
    height: 256px;
    object-fit: cover;
}
.player:hover img{
    transform: scale(1.1);
    transition: transform 2s ease-in-out;
        
}

.name{
    font-size: 20px;
    color: #18191F;
}
.player-info{
    font-size: 14px;
    color: #6C6C6C;
}
.player-bio{
    display: block;
    overflow: hidden;
}

/* ----------------
All Highlights
----------------------------- */
.all-highlights{
    margin-bottom: 60px;
}
.left-info h2{
    color: #0A0826;
    font-size: 30px;
}
.left-info p{
    color:#6C6C6C;
    font-size: 14px;
}
.match-img img{
    width: 100%;
}
 /* ----------------
      Footer 
 ----------------*/
 .footer-details{
    text-align: center;
 }
 .footer-info img{
    width: 430px;
    height: 110;
    margin: auto;
 }
 .fa-brands{
    font-size: 20px;
    color: #969BAB;
    margin: 10px;
    padding: 10px;
    background-color:gainsboro ;
    border-radius: 30px;
 }
 /* ----------------Mobile View -----------*/
 @media only screen and (max-width: 600px) {
    .container-content{
        margin-top: 0;
    }
    .navbar{
        display: none;
    }
    .banner-width{
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
    }
    .left-info{
        margin-bottom: 40px;
        
    }
    .left-info h1{
        font-size: 40px;
    }
    .half-width{
        width: 100%;
    }
    /* .banner-img img{
        width: 80%;
    } */
    .players{
        grid-template-columns: 1fr !important;
    }
    .footer-info img{
        width:200px ;
    }
    .social-icon .fa-brands{
        font-size: 10px;
        margin:6px ;
        padding: 6px;
        border-radius: 30px;
    }
    
    

 }

 /* ------------Pad View -------------*/
 @media only screen and (max-width: 992px){
    .container-content{
        margin-top: 0;
    }
    .players{
        grid-template-columns: repeat(2,1fr);
    }
    .left-info h1{
        font-size: 40px;
    }
    .banner-width{
        width: 90%;
        margin-top: 60px;
    }
    .footer-info img{
        width:300px ;
    }
    
 }




